[submodule ".zsh-custom/plugins/transient-prompt"]
	path = .zsh-custom/plugins/transient-prompt
	url = https://github.com/olets/zsh-transient-prompt/
[submodule "misc"]
	path = misc
	url = ssh://git@codeberg.org/charlesrocket/misc-files.git
[submodule ".config/quickshell/topbar"]
	path = .config/quickshell/topbar
	url = ssh://git@codeberg.org/charlesrocket/topbar.git
