[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = -k
	email = slowdive@me.com
	signingkey = 4A2340C1
[pull]
	rebase = true
[url "git+ssh://charlesrocket@git.launchpad.net/"]
	insteadof = lp:
[init]
	defaultBranch = trunk
[credential]
	helper = netrc
