* {
    all: unset;
}

.bar {
    font-family: Symbols Nerd Font;
    font-size: 14px;
    font-weight: bold;
    border: 1 solid  rgba(78, 78, 78, 0.7);
    background-color: rgba(0, 0, 0, 0.4);
    color: #b0b4bc;
    border-radius: 8px;
}

.bar-title {
    font-family: Hack Nerd Font;
    font-size: 14px;
    font-weight: bold;
}

.left-bar {
    padding: 5px;
}

.center-bar {
    padding: 5px;
}

.right-bar {
    padding: 5px;
}

.workspaces {
    margin-left: 5px;
}

.workspace-entry * {
    margin-left: 5px;
    margin-right: 5px;
}

.workspace-empty {
    color: rgba(78, 78, 78, 0.7);
}

.workspace-current {
    color: #cc0000;
}

.power_btn {
    color: #cc0000;
    font-family: Symbols Nerd Font;
}

.comms {
    margin-left: 5px;
    margin-right: 5px;
}

.network_stats {
    margin-left: 10px;
}

.network-offline {
    color: #cc0000;
}

.lang {
    font-family: ProggyClean Nerd Font;
    margin-left: 5px;
    margin-right: 5px;
}

.batt {
    font-size: 15px;
    font-family: Symbols Nerd Font;
    margin-left: 3px;
    margin-right: 2px;
}

.batt-critical {
    color: #cc0000;
}

.batt-charged {
    color: #90ee90;
}

.batt-charging {
    color: #ffd700;
}

.tray {
    margin-left: 5px;
    margin-right: 2px;
}

.tray menu {
    border-radius: 0px;
    padding: 5px 0px;
    color:  #b0b4bc;
    border: solid 1px #b0b4bc;
    background-color: #1e1e1e;
    >menuitem {
        padding: 0px 6px;

        &:disabled label {
            color: #565b5d;
        }
        &:hover {
            color: white;
        }
    }
    separator {
        background-color:  #b0b4bc;
        padding-top: 1px;
        &:last-child {
            padding: unset;
        }
    }
}

.weather {
    font-size: 16px;
    font-family: Symbols Nerd Font;
    margin-left: 2px;
}

.weather-exp {
    font-size: 14px;
    font-family: Symbols Nerd Font;
    margin-right: 2px;
}

.clock {
    font-family: FiraCode Nerd Font;
    font-weight: bold;
    margin-left: 1px;
}

.stats {
    margin-right: 3px;
}

.metric scale trough highlight {
    all: unset;
    border-radius: 0;
    background-color: #b0b4bc;
    color: #000000;
}

.metric scale trough {
    all: unset;
    border: 1px;
    border-radius: 2px;
    border-style: solid;
    border-color: #b0b4bc;
    background-color: #4e4e4e;
    min-height: 10px;
    min-width: 6px;
    margin: 3px 0px;
}

.volume {
    margin-left: 5px;
    margin-right: 5px;
}

.volume scale trough highlight {
    all: unset;
    background-color: #b0b4bc;
    color: #000000;
    border-radius: 0;
}
.volume scale trough {
    all: unset;
    border-color: #b0b4bc;
    background-color: #4e4e4e;
    border: 1px;
    border-style: solid;
    border-radius: 2px;
    min-height: 6px;
    min-width: 50px;
    margin-left: 10px;
}

tooltip.background {
    background-color: rgba(0, 0 ,0 , 0.7);
    border-radius: 4px;
}

tooltip label {
    color: #b0b4bc;
    font-size: 13px;
    margin: 2px;
}

.separator {
    all: unset;
    color: #4e4e4e;
    margin-left: 6px;
    margin-right: 6px;
}
