* {
  all: unset;
  font-family: IBM Plex Mono;
  font-weight: bold;
  font-size: 13px;
}

.bar {
  background-color: rgba(0, 0, 0, 0.7);
  color: #b0b4bc;
}

.left-bar {
  padding: 5px;
}

.center-bar {
  padding: 5px;
}

.right-bar {
  padding: 5px;
}

.workspace-entry * {
  margin-left: 5px;
  margin-right: 5px;
}

.workspace-empty {
  color: rgba(78, 78, 78, 0.7);
}

.workspace-current {
  border-radius: 6px;
  color: #cc0000;
}

.clock {
  margin-left: 10px;
}

.stats-batt-low {
  all: unset;
  color: #cc0000;
}

.stats-batt-charged {
  all: unset;
  color: green;
}

.metric scale trough highlight {
  all: unset;
  border-radius: 0px;
  background-color: #b0b4bc;
  color: #000000;
}

.metric scale trough {
  all: unset;
  border: 1px;
  border-radius: 2px;
  border-style: solid;
  border-color: #b0b4bc;
  background-color: #4e4e4e;
  min-height: 10px;
  min-width: 6px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 5px;
  margin-right: 10px;
}

.separator {
  all: unset;
  color: #4e4e4e;
}
