* {
    font-size: 12px;
    font-family: IBM Plex Mono;
    font-weight: bold;
    border-radius: 0;
    border: 0;
}

window#waybar {
    color: #c5c8c6;
    background: rgba(7, 7, 7, 0.7);
}

.modules-left {
    padding-right: 12px;
    padding-left: 12px;
}

.modules-center {
}

.modules-right {
    padding-right: 12px;
    padding-left: 12px;
}

#workspaces button {
    color: #c5c8c6;
}

#workspaces button.active {
    color: #c5c8c6;
    border-top: 2px solid red;
}

#custom-network.offline {
    border-top: 1px solid red;
}

#custom-network.vpn {
    border-top: 1px solid springgreen;
}

#custom-power.ac:not(.charged) {
    color: #f4c500;
}

#custom-power.critical:not(.ac) {
    color: red;
}

#custom-power.charged.ac {
    color: green;
}

#cpu {
}

#language {
}

#sndio {
}

#clock {
}
