* {
    font-size: 13px;
    font-family: IBM Plex Mono;
    font-weight: bold;
    border-radius: 0;
    border: 0;
}

window#waybar {
    background: rgba(15, 15, 15, 0);
}

#window {
    color: #c5c8c6;
    background: rgba(7, 7, 7, 0.7);
    margin: 6px 3px 0 3px;
    padding: 5px 10px 5px 10px;
}

#workspaces {
    color: #c5c8c6;
    background: rgba(7, 7, 7, 0.7);
    margin: 6px 6px 0 6px;
    padding: 0 5px;
}

#workspaces button {
    padding: 0 5px;
    color: #c5c8c6;
}

#workspaces button.focused {
    color: #c5c8c6;
    border-top: 2px solid red;
}

#custom-network.offline {
    border-top: 1px solid red;
}

#custom-network.vpn {
    border-top: 1px solid springgreen;
}

#custom-network {
    color: #c5c8c6;
    background: rgba(7, 7, 7, 0.7);
    margin: 6px 3px 0 3px;
    padding: 0 10px;
}

#custom-power {
    color: #c5c8c6;
    background: rgba(7, 7, 7, 0.7);
    margin: 6px 3px 0 3px;
    padding: 0 10px;
}

#custom-power.ac:not(.charged) {
    color: #f4c500;
}

#custom-power.critical:not(.ac) {
    color: red;
}

#custom-power.charged.ac {
    color: green;
}

#custom-quit {
    color: #c5c8c6;
    background: rgba(7, 7, 7, 0.7);
    margin: 6px 6px 0 0;
    padding: 0 10px 0 5px;
}

#cpu {
    color: #c5c8c6;
    background: rgba(7, 7, 7, 0.7);
    margin: 6px 3px 0 3px;
    padding: 0 10px 0 10px;
}

#memory {
    color: #c5c8c6;
    background: rgba(7, 7, 7, 0.7);
    margin: 6px 3px 0 3px;
    padding: 0 10px 0 10px;
}

#language {
    color: #c5c8c6;
    background: rgba(7, 7, 7, 0.7);
    padding: 0 5px 0 10px;
    margin: 6px 0 0 3px;
}

#sndio {
    color: #c5c8c6;
    background: rgba(7, 7, 7, 0.7);
    margin: 6px 3px 0 3px;
    padding: 0 10px 0 10px;
}

#clock {
    color: #c5c8c6;
    background: rgba(7, 7, 7, 0.7);
    margin: 6px 0 0 0;
    padding: 0 5px 0 5px;
}
